.app-wrapper {
  @include clearfix;
  position: relative;
  overflow: hidden;

  .el-menu.sidebar-menu{
    // margin-right: 110px;
  }
}
.app-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
}
@import './sidebar.scss';

.app-body{
  margin-left: $sidebar-width;
}
.app-header {
  background-color: #fff;
}

@import './brand.scss';
@import './navbar.scss';

/*
 * Content Wrapper - contains the main content
 */

 .app-main{
   width: 100%;
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;

   .app-container{
     padding: 10px;
   }
 }
