///*
// * Component: Sidebar
// * ------------------
// */

.ura-menu{
  .el-menu-item{
    height: $navbar-height;
    line-height: $navbar-height;
  }
  .el-menu-item,
  .el-submenu > .el-submenu__title{
    // padding-right: 40px;
  }
  .el-menu{
    border-radius: 0;
  }
}
.sidebar-menu{
  border-right: none;
  height: 100%;
  overflow: auto;
  padding-bottom: 50px;
  // hide scroller bar
  // margin-right: -20px;
}
